---
import dataCurriculum from "../store/dataCurriculum";

// Acceder al store y leer el valor de `fullName`
const { formations } = dataCurriculum;
---

<section class="education" id="education">
    <h2 class="heading">Formación</h2>

    <div class="timeline-items">
        {
            formations.map(
                (exp: {
                    id: number;
                    period: string;
                    company: string;
                    title: string;
                    description: string;
                    urlDocumentos: any;
                }) => (
                    // <i class='bx bxs-circle'></i>
                    <div class="timeline-item">
                        <div class="timeline-dot" />
                        <div class="timeline-date">
                            {exp.company} | {exp.period}
                        </div>

                        <div class="timeline-content">
                            <h3>{exp.title}</h3>
                            <p>
                                <i class="bx bxs-circle" /> {exp.description}
                            </p>

                            {exp.urlDocumentos.map(
                                (doc: {
                                    id: number;
                                    title: string;
                                    urlDocumento: string;
                                }) =>
                                    doc.title != "" ? (
                                        <div class="timeline-footer">
                                            <a
                                                href={doc.urlDocumento}
                                                download={doc.urlDocumento
                                                    .split("/")
                                                    .pop()}
                                            >
                                                {doc.title}{" "}
                                                <i class="bx bxs-file-doc" />
                                            </a>
                                        </div>
                                    ) : (
                                        ""
                                    ),
                            )}
                        </div>
                    </div>
                ),
            )
        }
    </div>
</section>
